
.product-card {
    border: none;
    padding: 100;
    width: 200px; 
    text-align: center; 
    font-size: 10px;
    color: black;
}

.product-image {
    max-width: 100%; 
    height: auto; 
    aspect-ratio: 1;
}

.product-name {
    font-size: 12px;
}
.product-price {
    font-size: 20px;
}

.add-to-cart {
    background-color: #28a745; 
    color: white; 
    border: none; 
    padding: 10px;
    border-radius: 4px;
    cursor: pointer; 
}

.add-to-cart:hover {
    background-color: #218838; 
}
.item-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.view-details-button {
    background-color: #a83838; 
    color: rgb(0, 0, 0); 
    padding: 10px 15px; 
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-block; 
    margin-top: 10px; 
}
.item { 
    display: grid;
    grid-template-columns: repeat(4, 300px) ;
    grid-gap: 3px;
    padding: 30px 10px 100px 50px;
 
}

